[submodule "components/cpp_utils"]
	path = components/cpp_utils
	url = git@github.com:MelanieT/cpp_utils.git
[submodule "components/OTA"]
	path = components/OTA
	url = git@github.com:MelanieT/OTA.git
[submodule "components/openhab"]
	path = components/openhab
	url = git@github.com:MelanieT/openhab.git
[submodule "components/base_console"]
	path = components/base_console
	url = git@github.com:MelanieT/base_console.git
[submodule "components/telnetd-bsd"]
	path = components/telnetd-bsd
	url = git@github.com:MelanieT/telnetd-bsd.git
[submodule "components/uart-console"]
	path = components/uart-console
	url = git@github.com:MelanieT/uart-console.git
[submodule "components/console-cpp"]
	path = components/console-cpp
	url = git@github.com:MelanieT/console-cpp.git
[submodule "components/esp-api-server"]
	path = components/esp-api-server
	url = git@github.com:MelanieT/esp-api-server.git
[submodule "components/spiffs-ota"]
	path = components/spiffs-ota
	url = https://github.com/MelanieT/spiffs-ota.git
